{%extends 'base.html'%}
{%block title%}Login{%endblock%}
{%block body%}

<h1>Login!</h1>

{% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>

{% endfor %}
{% endif %}

<form method='POST'>
 <!-- action="{% url 'accounts:login' %}" -->
{%csrf_token %}

<!--important for redirecting start-->
{% if request.GET.next %}
<input type ='hidden' name='next' value={{request.GET.next}} />
{% endif %}
<!--important for redirecting end-->
Username:
<br/>
<input type ='text' name ='username' >
</br>
Password:
<br/>
<input type = 'password' name='password'/></br></br>
<input class="btn btn-primary" type ='submit' value='login'/>
<small>No Account ? <a href = "{% url 'accounts:signup' %}" >Singup here!</a></small>

</form>
{% endblock %}
