{%extends 'base.html'%}
{%block title%}Signup{%endblock%}
{%block body%}


<h1>Signup!</h1>

{% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>

{% endfor %}
{% endif %}

<form method='POST' action="{% url 'accounts:signup' %}">
{%csrf_token %}

<br/>
<input type ='text' name ='username' placeholder="Username">
</br>

<br/>
<input type = 'password' name='password1' placeholder="Password" /></br>

<br/>
<input type = 'password' name='password2' placeholder="Confirm Password" /></br></br>
<input class="btn btn-primary" type ='submit' value='Signup'/>


</form>
{% endblock %}
