
{%extends 'Todoapp/base.html'%}
{%block title%}Register{%endblock%}
{%block body%}

	<div class="container">
	 <div class="row">
    <div class="col-sm">	
	<h1>Enter the details</h1>

		<form method = "POST">

			{% csrf_token %}
			{{todoform.as_p}}
				
		    <button type = 'submit'>submit</button>
		</form>
		<a href="{% url 'list' %}">click here to visit the entire list</a>
	</div>


 
    <div class="col-sm">
	<h1>Today's list is</h1>
	
	{%for item in list%}	
	
	{% if item.status == '1' %}
		{{item.id}}
		<a class = "text-danger" href="{%url 'edit' item.pk%}">{{item.description}}</a><br>
	{% elif item.status == '2' %}
		{{item.id}}
		<a class = "text-success" href="{%url 'edit' item.pk%}">{{item.description}}</a><br>
	{% elif item.status == '3' %}
	{{item.id}}
		<a class = "text-secondary" href="{%url 'edit' item.pk%}">{{item.description}}</a><br>
	{% endif %}
{%endfor%}
	</div>
	<div class="col-sm">
	<h2>Pending List is</h2>
	{%for item in pending_list%}
		{{item.id}}
		
		<a class = "text-danger" href="{%url 'edit' item.pk%}">{{item.description}}</a> <br>
		
	
	{%endfor%}
	</div>


{% endblock %}